* {
    margin: 0;
    font-family: Montserrat;
    letter-spacing: 0.8px;
}
/* MEGA CHANGES :O */

:root {
    --main-color: #3e4749;
    --sec-color: #879499;
    --button-color: #f4f0ec;
    --button-bg-color: #8b0000;
}


h1 {
    font-size: 57px;
    font-weight: 900;
    color: var(--main-color);
}

h2 {
    font-size: 35px;
    color: var(--main-color);
    font-weight: bold;
}

.selected {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: default;
}

button {
    font-size: 14px;
    cursor: pointer;
    outline: none;
    background-color: var(--button-bg-color);
    border-radius: 0;
    border: 0;
    color: var(--button-color);
    width: 200px;
    height: 50px;
}

button span {
    border-bottom: 2px var(--button-color) solid;
}

/* NAVIGATION AND HEADER */

header {
    display: flex;
    flex-direction: row;
    height: 75px;
    align-items: center;
}

.navMenu {
    user-select: none;
    position: relative;
    margin: auto;
    margin-right: 50px;
    padding: 0;
}

.navMenu li {
    display: inline;
    margin-right: 45px;
    color: var(--main-color);
    font-size: 14px;
}

.navMenu li a {
    color: var(--main-color);
    text-decoration: none;
    font-size: 14px;
}

.navMenu li a:hover {
    color: var(--sec-color);
}

#shopping_cart {
    width: 30px;
    margin-right: 10%;
    cursor: pointer;
    user-select: none;
}

/* THE SLIDER */

.slideshow {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    justify-content: center;
}

.slideshow::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.show_cont img {
    margin: 0 60px;
    width: 1000px;
    cursor: pointer;
}

.show_cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: sShow 25s infinite;
}

.show_cont:hover {
    animation-play-state: paused;
}

@keyframes sShow {
    0% {
        transform: translateX(1050px);
    }
    15% {
        transform: translateX(1050px);
    }
    30% {
        transform: translateX(0px);
    }
    45% {
        transform: translateX(0px);
    }
    60% {
        transform: translateX(-1050px);
    }
    75% {
        transform: translateX(-1050px);
    }
    100% {
        transform: translateX(1050px);
    }
}

/* ARTIST OF THE MONTH */

.monthArtist_cont {
    background-color: var(--button-color);
    display: flex;
    margin-top: 75px;
    padding: 95px 10% 50px 15%;
}

.monthArtist {
    position: relative;
    margin-left: 110px;
}

.monthArtist h1 {
    position: absolute;
    top: -45px;
    left: -110px;
}

.monthArtist img {
    width: 400px;
}

.monthArtist_cont p {
    margin: 0 20px;
    font-size: 22px;
    color: var(--main-color);
}

.monthArtist_cont p a {
    color: var(--button-bg-color);
    text-decoration: none;
    font-weight: bold;
}

/* RECENT ARTWORK */

.recentArtwork_cont {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}

.recentArtwork_cont h1 {
    text-align: right;
    margin-top: 75px;
}

.recentArtwork_picCont {
    display: grid;
    margin-top: 30px;
    margin-bottom: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 20px;
    align-items: center;
    user-select: none;
}

.recentArtwork_picCont img {
    width: 100%;
    cursor: pointer;
}

.recentArtwork_cont button {
    margin: auto;
}

/* FOOTER */

footer {
    background-color: var(--button-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    padding: 40px 0 20px 0;
}

footer h2 {
    font-size: 47px;
    margin-bottom: 10px;
}

footer p {
    width: 650px;
    text-align: center;
    margin-bottom: 40px;
    color: var(--main-color);
}

footer input {
    padding-left: 25px;
    width: 350px;
    height: 45px;
    border: none;
    outline: none;
    font-size: 14px;
    margin-right: 0;
}

.some_icons {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 70px;
}

.some_icons img {
    width: 45px;
    margin-right: 35px;
    cursor: pointer;
}

.some_icons img:last-child {
    margin-right: 0;
}

footer p:last-child {
    text-align: left;
    width: 80%;
    margin-bottom: 0;
}

/* GALLERY PAGE */

/* FILTERS */

#gallery_main {
    display: flex;
    margin-top: 50px;
}

.filters_cont {
    margin-top: 60px;
    user-select: none;
}

.filters_cont ul li {
    list-style-type: none;
    margin-top: 15px;
    font-size: 14px;
    color: var(--main-color);
    cursor: pointer;
}

.filters_cont ul li:hover {
    color: var(--sec-color);
}

.filters_cont ul .selected:hover {
    color: var(--main-color);
}

.content_cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0 150px;
}

.art_cont {
    display: grid;
    margin-top: 30px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 20px;
    align-items: center;
    user-select: none;
}

.art_cont img {
    width: 100%;
    cursor: pointer;
}

.description_cont {
    width: 100%;
    display: none;
}

.artinfo_cont {
    text-align: center;
}

.description {
    text-align: left;
    margin-top: 70px;
}

.support_charities_cont {
    margin-top: 50px;
}

#charitiesDropDown {
    background-color: white;
    border: 2px solid rgba(0,0,0,0.1);
    outline: none;
    height: 40px;
    width: 250px;
    font-size: 14px;
}

#charitiesDropDown option {
    text-align: center;
}

.picShortInfo_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price {
    font-weight: 500;
    font-size: 22px;
}

.shortInfo {
    font-size: 14px;
}

.picShortInfo_cont img {
    width: 600px;
    margin: 50px;
}
